<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/style_index.css">
</head>
<body>

<section class="main-content">
  <h1>Bienvenue sur l'application de gestion</h1>
  <p class="description">Choisissez une section pour gérer les données :</p>

  <div class="links-container">
    <ul>
      <li><a href="/students" class="link-button">Voir les Étudiants</a></li>
      <li><a href="/stages" class="link-button">Voir les Stages</a></li>
    </ul>
  </div>
</section>

</body>
</html>
