<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des Stages</title>
    <link rel="stylesheet" href="/style_stages_list.css">
</head>
<body>
<h1 class="main-title">Gestion des Stages</h1>
<div class="section-stages">
    <div class="actions">
        <a href="/stages/add" class="action-link">Ajouter un stage</a>
        <a href="/" class="action-link secondary">Retour</a>
    </div>

    <section class="stage-list">
        <h2 class="title">Liste des stages</h2>
        <table class="student-table">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Étudiant</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="stage : ${stages}">
                <td th:text="${stage.title}">Titre du stage</td>
                <td th:text="${stage.description}">Description</td>
                <td th:text="${stage.student != null ? stage.student.name : 'Aucun étudiant'}">Nom de l'étudiant</td>
            </tr>
            </tbody>
        </table>
    </section>
</div>

<footer>
    <p>&copy; 2024 Application de gestion des stages</p>
</footer>
</body>
</html>
