<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style_students_list.css}">
    <title>Liste des Étudiants</title>
</head>
<body>
<header>
    <h1 class="main-title">Gestion des Étudiants</h1>
</header>
<div class="actions">
    <a href="/students/add" class="action-link">Ajouter un étudiant</a>
    <a href="/" class="action-link secondary">Retour</a>
</div>
<section class="section-students">
    <h2 class="title">Liste des étudiants</h2>
    <table class="student-table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.name}" class="student-name"></td>
            <td th:text="${student.email}" class="student-email"></td>
        </tr>
        </tbody>
    </table>
</section>
<footer>
    <p>&copy; 2024 Gestion des Étudiants</p>
</footer>
</body>
</html>
